<%= turbo_frame_tag movement, class: "list_inline" do %>
    <p><%= movement.name %> (<%= movement.equipment_type %>)</p>
    <div class="list_actions">
        <%= link_to "edit", edit_movement_path(movement), class: "material-symbols-outlined" %>
        <%= link_to "delete", movement_path(movement), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "material-symbols-outlined" %>
    </div>
<% end %>
