<%= simple_form_for @workout, html: { class: "form" } do |f| %>
    <%= form_error_notification(@workout) %>
    <%= f.input :date, html5: true, input_html: { autofocus: true } %>
    <%= f.input :note %>
    <div class="btn_group_inline">
        <%= link_to t(:cancel_btn), url_for(:back), class: "btn btn_light" %>
        <%= f.button :submit, class: "btn btn_secondary" %>
    </div>
<% end %>
