<%= turbo_stream_from current_user, "workouts" %>
<main class="container">
    <div class="header">
        <h1>Workouts</h1>
    </div>

    <%= turbo_frame_tag Workout.new %>

    <%= turbo_frame_tag "workouts" do %>
        <%= render "empty_state" %>
        <%= render @workouts %>
    <% end %>
</main>
<footer class="footer">
        <%= link_to "New workout",
            new_workout_path,
            class: "btn btn_primary",
            data: { turbo_frame: dom_id(Workout.new) }
            %>
</footer>

