<h1><%= local_time(@workout.date, format: '%A %d/%m/%Y %Hh%M') %></h1>
<p><%= @workout.note %></p>

<h2>Exercises</h2>
<ul>

<% @exercises.each do |exercise| %>
  <% if exercise.movement_id %>
  <li><%= link_to Movement.find(exercise.movement_id).name, workout_exercise_path(@workout, exercise) %> - <%= link_to "Destroy",
                                                                                                                workout_exercise_path(exercise.workout_id, exercise.id),
                                                                                                                data: {
                                                                                                                    turbo_method: :delete,
                                                                                                                    turbo_confirm: "Are you sure?"
                                                                                                                  } %>
  </li>
  <% end %>
<% end %>
</ul>

<p><%= link_to "New exercise", new_workout_exercise_path(@workout) %></p>

<p><%= link_to "Edit", edit_workout_path(@workout) %></p>
<p><%= link_to "Destroy", workout_path(@workout), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></p>

<p><%= link_to "See all my workouts", workouts_path %></p>
