<main class="container">
  <%= turbo_frame_tag "header_workout_#{@workout.id}" do %>
      <%= render "workout_header" %>
  <% end %>

  <%= turbo_frame_tag Exercise.new %>

  <%= turbo_frame_tag "exercises" do %>
    <%= render @exercises, workout: @workout %>
  <% end %>
</main>
<footer class="footer">
  <%= link_to "New exercise",
      new_workout_exercise_path(@workout),
      class: "btn btn--primary",
      data: { turbo_frame: dom_id(Exercise.new) }%>
</footer>
