<h1><%= @workout.date.to_fs(:long_ordinal) %></h1>
<p><%= @workout.note %></p>

<ul>
  <li><%= link_to "Edit", edit_workout_path(@workout) %></li>
  <li><%= link_to "Destroy", workout_path(@workout), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Exercises</h2>

<!-- <%= link_to "New exercise", workout_exercises_path(@workout) %> -->
<%= link_to "New exercise", new_workout_exercise_path(@workout) %>
