<main class="container">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form" }) do |f| %>
  <%= f.error_notification %>

    <%= f.input :email, required: true, autofocus: true, placeholder: "Email" %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <div class="password_inputs">
    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" },
                placeholder: "New password" %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" },
                placeholder: "New password confirmation" %>
    </div>

    <div>
      <%= f.input :preferred_unit, collection: User.preferred_units.map { |key, value| [key.humanize, key] }, include_blank: false %>
    </div>

    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" },
                placeholder: "Current password" %>

  <div class="form_actions_devise">
    <%= f.button :submit, "Update", class: "btn btn_primary" %>
  </div>
<% end %>
</main>
<footer class="footer">
  <%= button_to "Cancel my account",
        registration_path(resource_name),
        data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" },
        method: :delete,
        class: "btn btn_light" %>
</footer>
