<%= turbo_frame_tag exercise do %>
    <% if exercise.movement_id %>
        <div class="list">
            <div class="list_header">
                <div>
                    <h3><%= exercise.movement.name %></h3>
                    <p><%= exercise.movement.equipment_type.capitalize %>
                        <% if exercise.movement_baseline_weight.positive? %>
                            <%= "- #{exercise.movement_baseline_weight} kg" %>
                        <% end %>
                    </p>
                </div>
                <%= turbo_frame_tag dom_id(exercise, :edit) do %>
                        <%= link_to "delete",
                            [workout, exercise],
                            data: {
                                turbo_method: :delete,
                                turbo_confirm: "Are you sure?"
                            },
                            class: "material-symbols-outlined" %>
                <% end %>
            </div>
            <div class="list_note">
                <%= render "exercises/last_performance", exercise: exercise %>
                <%= turbo_frame_tag nested_dom_id(exercise, "series") do %>
                    <%= render "series/empty_state" %>
                    <%= render exercise.series, workout: workout, exercise: exercise %>
                <% end %>
            </div>

            <%= turbo_frame_tag nested_dom_id(exercise, Serie.new) %>
            <%= link_to "Add serie",
                            [:new, workout, exercise, :series],
                            data: { turbo_frame: nested_dom_id(exercise, Serie.new) },
                            class: "btn btn_light" %>
        </div>
    <% end %>
<% end %>
