<main class="container">
    <div class="header">
        <div class="header_heading">
            <%= link_to 'arrow_back',
                url_for(:back),
                class: "material-symbols-outlined" %>
            <h1><%= @movement.name %></h1>
        </div>
        <div>
            <%= link_to "delete",
                workout_exercise_path(@exercise.workout_id, @exercise.id),
                data: {turbo_method: :delete, turbo_confirm: t('delete_confirm')},
                class: "material-symbols-outlined"%>
        </div>
    </div>

    <% @series.each do |serie| %>
        <div class="list_inline">
            <p><%= serie.weight %> kg - <%= pluralize(serie.repetition, 'rep') %></p>
            <div class="list_actions">
                <%= link_to "edit", edit_workout_exercise_series_path(@exercise.workout_id, serie.exercise_id, serie), class: "material-symbols-outlined" %>
                <%= link_to "delete",
                    workout_exercise_series_path(@exercise.workout_id, serie.exercise_id, serie),
                    data: {
                        turbo_method: :delete,
                        turbo_confirm: t('delete_confirm')
                    },
                    class: "material-symbols-outlined" %>
            </div>
        </div>
    <% end %>
</main>
<footer class="footer">
    <h3>New serie</h3>
    <%= render "series/form", serie: @serie %>
</footer>
