<main class="container">
    <div class="header">
        <div class="header_heading">
            <%= link_to 'arrow_back', url_for(:back), class: "material-symbols-outlined" %>
            <h1><%= @movement.name %></h1>
        </div>
        <div>
            <%= link_to "delete", workout_exercise_path(@exercise.workout_id, @exercise.id), data: {turbo_method: :delete,turbo_confirm: "Are you sure?"}, class: "material-symbols-outlined"%>
        </div>
    </div>

    <% if @previous_exercise_same_movement %>
        <div class="workout">
        <p>Last performance (<%= local_time_ago(@previous_exercise_same_movement.created_at) %>):</p>
        <div class="workout_note">
            <% @last_series.each do |last_serie| %>
                <p><%= last_serie.weight %> kg - <%= pluralize(last_serie.repetition, 'rep')%></p>
            <% end %>
        </div>

        </div>
    <% end %>

    <% @series.each do |serie| %>
        <div class="workout_inline">
            <p><%= serie.weight %> kg - <%= pluralize(serie.repetition, 'rep') %></p>
            <div class="workout_actions">
                <%= link_to "edit", edit_workout_exercise_series_path(@exercise.workout_id, serie.exercise_id, serie), class: "material-symbols-outlined" %>
                <%= link_to "delete",
                    workout_exercise_series_path(@exercise.workout_id, serie.exercise_id, serie),
                    data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                    },
                    class: "material-symbols-outlined" %>
            </div>
        </div>
    <% end %>
</main>
<footer class="footer">
    <h3>New serie</h3>
    <%= render "series/form", serie: @serie %>
</footer>
