<%= simple_form_for [@workout, @exercise, @exercise.series.build], url: workout_exercise_series_index_path(@workout, @exercise), html: { class: "form" } do |f| %>
  <%= form_error_notification(@serie) %>
  <div class="input_group">
    <%= f.input :weight, placeholder: "Weight in kilos" %>
    <%= f.input :is_total_weight, collection: [["in total", true], ["on each side", false]] %>
    <%= f.input :movement_baseline_weight,
        placeholder: "Equipment weight",
        input_html: { value: (@exercise.movement.barbell? ? "20" : "0") }
        %>
    <%= f.input :repetition, placeholder: "Repetitions" %>
  </div>
  <div class="btn_group_inline">
    <%= link_to "Cancel", url_for(:back), class: "btn btn_light" %>
    <%= f.button :submit, class: "btn btn_secondary" %>
  </div>
<% end %>
