<%= simple_form_for [@workout, @exercise, @exercise.series.build], url: workout_exercise_series_index_path(@workout, @exercise), html: { class: "form" } do |f| %>
  <div class="input_group">
    <%= f.input :weight, placeholder: "Weight in kilos"%>
    <%= f.input :repetition, placeholder: "Repetitions" %>
  </div>
  <div class="btn_group_inline">
    <%= link_to "Cancel", url_for(:back), class: "btn btn--light" %>
    <%= f.button :submit, class: "btn btn--secondary" %>
  </div>
<% end %>
