<h1>Edit Workout</h1>
<%= turbo_frame_tag dom_id(@serie, :edit) do %>
    <%= simple_form_for [@workout, @exercise, @serie], html: { class: "form" } do |f| %>
    <div class="input_group">
        <%= f.input :weight, placeholder: "Weight in kilos"%>
        <%= f.input :repetition, placeholder: "Repetitions" %>
    </div>
    <div class="btn_group_inline">
        <%= link_to "Cancel", url_for(:back), class: "btn btn_light" %>
        <%= f.button :submit, class: "btn btn_secondary" %>
    </div>
    <% end %>
<% end %>

