<header class="navbar">
  <% if user_signed_in? %>
    <ul class="navbar_nav">
        <li><%= link_to t(:navbar_workout), workouts_path %></li>
        <li><%= link_to t(:navbar_movement), movements_path %></li>
    </ul>
    <div class="navbar_username">
      <%= current_user.name %>
    </div>
    <%= link_to 'edit', edit_user_registration_path, class: "material-symbols-outlined" %>
    <%= button_to "logout",
                  destroy_user_session_path,
                  method: :delete,
                  class: "material-symbols-outlined" %>
  <% else %>
    <%= link_to t(:sign_in),
                new_user_session_path,
                class: "btn btn_dark navbar_right" %>
  <% end %>
</header>
